:root {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --main-font-color: #888;
  --heading-font-color: #000;
}
/*
576px
768px
992px
1200px
*/
* {
  box-sizing: border-box;
}
.section-wrapper {
  width: 80vw;
  margin: 3rem auto;
}
.section {
  width: 100%;
}
.section-heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.4rem 0;
  border-top: 0.2rem solid var(--main-font-color);
  border-bottom: 0.1rem solid var(--main-font-color);
  font-size: 1.3rem;
}
.card {
  --photo-size: 6rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.card-profilePhoto {
  width: var(--photo-size);
  height: var(--photo-size);
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.card-profileName {
  margin: 0;
  font-size: 3rem;
  color: var(--heading-font-color);
}
.card-contacts {
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  color: var(--main-font-color);
}
.card-contact {
  display: inline-block;
  padding: 0.2rem;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  line-height: 0.4rem;
}
.card-contact + .card-contact {
  border-left: 1px solid var(--main-font-color);
}
.social-links {
  display: flex;
  text-align: end;
}
.social-link-group {
  display: flex;
}
.social-link {
  --sicial-link-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--sicial-link-size);
  height: var(--sicial-link-size);
  background-color: #000;
  border-radius: 50%;
}
.social-link + .social-link {
  margin-left: 0.2rem;
}
.important-text {
  font-weight: 800;
  text-transform: capitalize;
}
.svg-container {
  display: inherit;
}
.svg {
  width: calc(var(--sicial-link-size) * 0.75);
  filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(117deg)
    brightness(104%) contrast(104%);
}
.list {
  list-style: disc;
  list-style-position: outside;
  margin-left: 2rem;
}
.content {
  padding: 0.7rem 0;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.article-wrapper {
  margin-top: 1rem;
}
.heading {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
@media screen and (max-width: 576px) {
  .card-contacts {
    flex-flow: column nowrap;
  }
  .card-contact {
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
  }
  .card-contact + .card-contact {
    border-left: none;
  }
  .section-heading {
    flex-flow: column;
  }
  .social-link {
    --sicial-link-size: 2rem;
  }
}
